{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BLACKROQ REALTORS | Home page</title>
    <meta name="description" content="Real estate in kenya">
    <meta name="keyword" content="property, real-estate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontello.css' %}">
    <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/responsive.css' %}">
</head>

<body>
    {%block content%}
    {%endblock content%}

    <script src=" {% static 'assets/js/modernizr-2.6.2.min.js' %}">
    </script>
    <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

    <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.js' %}"></script>

    <script src="{% static 'assets/js/icheck.min.js' %}"></script>
    <script src="{% static 'assets/js/price-range.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>