{% extends 'core/base.html'%}

{% load crispy_forms_tags %}
{% block content %}

<body>
    {% include 'core/header.html'%}
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->
    <!-- property area -->
    <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="" id="contact1">
                        <!-- /.row -->
                        <h2>Contact form</h2>
                        <form method="POST" action=".">
                            {%csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    {{form.name|as_crispy_field}}
                                </div>
                                <div class="col-sm-12">
                                    {{form.email|as_crispy_field}}
                                </div>
                                <div class="col-sm-12">
                                    {{form.message|as_crispy_field}}
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send
                                        message</button>
                                </div>
                            </div>
                            <!-- /.row -->
                        </form>
                    </div>
                    <hr>
                    <div class="row mt-10">
                        <div class="col-sm-4">
                            <h3><i class="fa fa-map-marker"></i> Address</h3>
                            <p>13/25 Upperhill
                                <br>Nairobi
                                <strong>Kenya</strong>
                            </p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-phone"></i> Call center</h3>
                            <p><strong>+254 555 444 333</strong></p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-envelope"></i> Emails</h3>
                            <ul>
                                <li><strong><a href="mailto:">info@blackroq.co.ke</a></strong> </li>

                            </ul>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer area-->
    {% include 'core/footer.html'%}

</body>
{% endblock %}