{% extends "core/base.html"%}

{% block content %}

<body>
    {% include "core/header.html" %}

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Properties for Sale in Kenya</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <!-- property area -->
    <div class="properties-area recent-property" style="background-color: #FFF;">
        <div class="container">
            <div class="row">


                <div class=" col-md-9 pr0 padding-top-40 properties-page">

                    <div class="col-md-12 clear">
                        <div id="list-type" class="proerty-th">
                            {% for property in properties %}
                            <div class="col-sm-6 col-md-4 p0">

                                <div class=" box-two proerty-item">
                                    <div class="item-thumb">
                                        <a href="{{property.get_absolute_url}}"><img
                                                src="{{property.main_photo.url}}"></a>
                                    </div>

                                    <div class="item-entry overflow">
                                        <h5><a href="{{property.get_absolute_url}}">{{property.title}}
                                            </a></h5>
                                        <div class="dot-hr"></div>
                                        <h4 class="s-property-title">{{property.get_location_display}}
                                        </h4>
                                        <span class="pull-left"><b> Area :</b>
                                            {{property.area}} sqm </span>
                                        <span class="proerty-price pull-right"> Ksh
                                            {{property.price}}</span>
                                        <p style="display: none;">Suspendisse ultricies
                                            Suspendisse ultricies Nulla quis
                                            dapibus nisl. Suspendisse ultricies commodo arcu
                                            nec pretium ...</p>

                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class=" col-md-12">
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
                                    {% if properties.has_previous%}
                                    <li><a
                                            href="?{{page_request_variable}}={{properties.previous_page_number}}">Prev</a>
                                    </li>
                                    {% endif %}
                                    <li><a href="">{{properties.number}}</a></li>

                                    {% if properties.has_next %}
                                    <li><a href="?{{page_request_variable}}={{properties.next_page_number}}">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {% include "core/sidebar.html" with latest_posts=latest_posts %}
            </div>
        </div>
    </div>

    <!-- Footer area-->
    {% include "core/footer.html" %}

</body>

{% endblock content %}