<div class="col-md-3 p0 padding-top-40">
    <div class="blog-asside-right pr0">
        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
            <div class="panel-heading">
                <h3 class="panel-title">Smart search</h3>
            </div>
            <div class="panel-body search-widget">
                <form method="GET" action="{% url 'core:search' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-12">
                            <label for="minimum_view_count">Keywords</label>
                            <input type="text" class="form-control" name="query" placeholder="Keywords">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="minimum_view_count">Min Price</label>
                            <input type="number" min="0" class="form-control" name="minimum_price" placeholder="0">
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="maximum_view_count">Maxi Price</label>
                            <input type="number" min="0" class="form-control" name="maximum_price" placeholder="10000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="minimum_area">Min Area</label>
                            <input type="number" class="form-control" name="minimum_area" placeholder="Area">
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="maximum_area">Max Area</label>
                            <input type="number" class="form-control" name="maximum_area" placeholder="Area">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-12">
                            <label for="inputState">Location</label>
                            <select id="inputState" name="location" class="form-control">
                                <option selected>Choose...</option>
                                {% for property in properties%}
                                <option value="{{property.location}}">{{property.location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Articles</h3>
            </div>
            <div class="panel-body recent-property-widget">
                <ul>
                    {% for post in latest_posts %}
                    <li>
                        <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                            <a href="{{post.get_absolute_url}}"><img src="{{post.thumbnail.url}}"></a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                            <h6> <a href="single.html">{{post.name}}</a></h6>
                            <span class="property-price">By {{post.author}}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>